/*qUITO*/
.locales .left .mall-el-jardin{
	background-image: url(../../media/img/locales/mall-el-jardin.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}
.locales .left .cumbaya{
	background-image: url(../../media/img/locales/cumbaya.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}
.locales .left .quicentro{
	background-image: url(../../media/img/locales/quicentro.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}
.locales .left .sanluis{
	background-image: url(../../media/img/locales/sanluis.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}
.locales .left .lacatolica{
	background-image: url(../../media/img/locales/lacatolica.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}
.locales .left .scala{
	background-image: url(../../media/img/locales/scala.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}
.locales .left .americas{
	background-image: url(../../media/img/locales/americas.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}
/*GUAYAQUIL*/
.locales .left .mall-del-sol{
	background-image: url(../../media/img/locales/mall-del-sol.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}
.locales .left .sanmarino{
	background-image: url(../../media/img/locales/sanmarino.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}
.locales .left .bocca{
	background-image: url(../../media/img/locales/bocca.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}
/*CUENCA*/
.locales .left .matovelle{
	background-image: url(../../media/img/locales/matovelle.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
}